.dotm_btn2{background:url(../images/all.png) no-repeat;background-size: auto 16px; }
/*个人中心欢迎页*/
.user_com{ width:100%; overflow:hidden; background:#F5F5F5}
.com_top{ width:100%; height:130px; background:#EC8816 url(../images/userbg.png) no-repeat center bottom; position:relative; z-index:9999}
.com_top h2{ width:100%; height:40px;}
.com_top h2 a{ width:50px; display:block; background-color:rgba(28,27,26,0.6); font-size:14px; line-height:30px; color:#FFF; margin-top:8px; float:right; margin-right:10px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:20px; text-align:center; font-weight:normal}
.com_top dl{ width:100%; margin:auto; position:absolute; bottom:-45px; z-index:99999;}
.com_top dl dt{ width:100%;}
.com_top dl dt img{ display:block; width:80px; height:80px; margin-left:15px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; float:left}
.com_top dl dt span{ display:block; float:left; text-indent:10px; font-size:18px; color:#FFF;}
.com_top dl dd{ float:right;font-size:14px; color:#fff; text-align:right; padding-right:10px; margin-left:-10px;}
.uer_topnav{ width:100%; height:60px; background:#FFF; border-bottom:1px solid #dddcdc}
.uer_topnav ul{ width:70%; height:40px; padding-top:10px; float:right}
.uer_topnav ul li{ width:33%; float:left; line-height:20px; color:#666; text-align:center}
.uer_topnav ul li a{ display:block; width:100%; overflow:hidden;font-size:12px;}
.uer_topnav ul li span{ display:block; width:100%; height:20px; font-size:16px; line-height:20px; color:#666}
.bain{ border-right:1px solid #eeeeee;}
.Wallet{ width:100%; background:#FFF; overflow:hidden; border-bottom:1px solid #dddcdc; margin-top:10px; position:relative}
.Wallet a{ margin-left:10px;height:45px; display:block; width:100%; overflow:hidden; padding-bottom:1px}
.Wallet a dl{width:100%; margin-left:35px; overflow:hidden;}
.Wallet a dl dt{float:left; font-size:16px; line-height:45px; color:#666;}
.Wallet a dl dd{float:right;background: url(../images/arrow_right.png) no-repeat right center;color:#aaaaaa; background-size: auto 12px; margin-right:60px; padding-right:20px}
.Wallet a dl dd{font-size:12px; line-height:45px; color:#aaaaaa;  }
.b{border-bottom:1px solid #eeeeee}

.Icon{ display:block; float:left; width:35px; height:35px; margin-top:5px; position:absolute}
.Icon1,.Icon2,.Icon3,.Icon4,.Icon5,.Icon6,.Icon7,.Icon8,.Icon9{background-image: url(../images/user.png);background-repeat: no-repeat;background-size: auto 1200%; }
.Icon10{background-image: url(../images/user1.png);background-repeat: no-repeat;background-size: auto 820%; }
.Icon1{ background-position:0px 3px}
.Icon2{ background-position:0px -34px}
.Icon3{ background-position:0px -71px}
.Icon4{ background-position:0px -108px}
.Icon5{ background-position:0px -146px}
.Icon6{ background-position:0px -183px}
.Icon7{ background-position:0px -221px}
.Icon8{ background-position:0px -255px}
.Icon9{background-position:0px -302px}
.Icon10{ background-position:0px 3px}
.Wallet ul{ width:95%;height:40px; margin:auto; padding-top:10px; border-bottom:1px solid #eeeeee; padding-bottom:5px;}
.Wallet ul li{ float:left; width:33.33%; text-align:center}
.Wallet ul li span{ display:block; width:100%; font-size:12px; line-height:150%; color:#666}
.Wallet ul li strong{ display:block;width:100%; font-size:12px; line-height:150%; color:#e41735; text-indent:3px; font-weight:normal}
.bain1{ border-right:1px solid #eeeeee; margin-left:-1px;}

/*我的订单user_order_list.lbi*/
.order{ width:100%; overflow:hidden; background:#F5F5F5}
.order_list{ width:100%; overflow:hidden; background:#FFF; margin-bottom:10px; border-bottom:1px solid #eeeeee;border-top:1px solid #eeeeee;}
.order_list h2{ width:95%; margin:auto; height:40px; border-bottom:1px solid #eeeeee;font-size:14px; line-height:40px; color:#666; font-weight:normal}
.order_list h2 img{ display:inline-block; width:20px; height:20px; margin-top:-5px}
.order_list h2 span{ margin-left:8px; display:inline-block; font-size:14px; line-height:40px; color:#000; font-weight:normal}
.order_list h2 strong{ display:inline-block; float:right; font-size:12px; line-height:40px; color:#F60; font-weight:normal}
.order_list dl{width:95%; margin:auto; overflow:hidden;border-bottom:1px solid #eeeeee; padding-top:10px; padding-bottom:10px;}
.order_list dl dt{ width:20%; float:left;}
.order_list dl dt img{ display:block; width:90%; float:left}
.order_list dl .name{ width:60%; float:left; overflow:hidden}
.order_list dl .name strong{ display:block; width:100%; font-size:14px; line-height:120%; color:#000; font-weight:normal}
.order_list dl .name span{display:block; width:100%; height:15px; line-height:15px; font-size:12px; color:#999; margin-top:5px; overflow:hidden;}
.order_list dl .pice{ width:20%; float:left; overflow:hidden; font-weight:normal; font-size:14px; line-height:120%; color:#333; text-align:right}
.order_list dl .pice em{ display:block; width:100%; font-size:12px; color:#666; line-height:20px; font-style:normal;}
.order_list .pic{width:95%; margin:auto; overflow:hidden;border-bottom:1px solid #eeeeee; height:50px; text-align:right; font-size:14px; line-height:50px; color:#000}
.order_list .pic strong{display:inline-block;font-size:18px; line-height:50px; color:#e41735;font-weight:normal;}
.anniu{ height:50px; text-align:right;}
.anniu a{ display:inline-block; margin-top:10px; width:80px; height:30px; font-size:14px; line-height:30px; background:#FF3300; color:#fff; text-align:center;border-radius:5px;}
.anniu span{display:inline-block; margin-top:10px; width:80px; height:29px;font-size:14px; line-height:29px; border:1px solid #666; text-align:center;border-radius:5px; color:#666}
.anniu strong{ display:inline-block;margin-top:10px; height:30px; font-size:14px; line-height:30px; color:#F60; font-weight:normal; text-align:left; margin-right:10px;}
.anniu strong img{  margin-top:-10px;}


/*订单订单详情user_order_detail.lbi*/
.lan{ background:#5D6B85}
.detail_top{ width:100%; overflow:hidden; background:#FFF; border-bottom:1px solid #CCC}
.detail_top dl{ width:95%;margin:auto; overflow:hidden; padding-top:10px; padding-bottom:10px;}
.detail_top dl dt{ float:left; overflow:hidden; width:10%;}
.dingdan_1{ width:30px; height:30px; display:block; background-position:0 -218px;}
.dingdan_2{ width:30px; height:30px; display:block; background-position:0 -292px;}
.dingdan_3{ width:30px; height:30px; display:block; background-position:0 -254px;}
.dingdan_4{ width:30px; height:70px; display:block;}
.detail_dowm{ width:100%; background:#f4f4f4; height:50px; position:fixed; bottom:0px; border-top:1px solid #e6e5e5; padding-bottom:5px;}
.anniu1{ width:95%; margin:auto; height:50px; text-align:right}
.anniu1 a{ display:inline-block; margin-top:5px; width:80px; height:40px; font-size:14px; line-height:40px; border:1px solid #666; color:#666; text-align:center;border-radius:5px;}
.anniu1 span{display:inline-block; margin-top:5px; width:80px; height:40px;font-size:14px; line-height:40px; border:1px solid #e41735; text-align:center;border-radius:5px;}
.anniu1 strong{ display:inline-block;margin-top:5px; height:40px; font-size:14px; line-height:40px; color:#F60; font-weight:normal; text-align:left; margin-right:10px;}
.anniu1 strong img{  margin-top:-10px;}



.detail_top dl dd{ width:90%; float:left; font-size:16px; line-height:150%; color:#23232b; overflow:hidden;}
.lan dl dd{ color:#FFF;}
.dingdanhao a{ color:#FFF;font-size:15px; line-height:150%; display:inline-block; text-indent:10px;}
.detail_top dl dd h3{ width:100%; text-align:left; font-size:16px; color:#333; position:relative; font-weight:normal}
.detail_top dl dd h3 em{ display:block;float:right; right:5px; position:absolute; top:0px;font-size:14px; color:#666; font-weight:normal}
.detail_top dl dd h3 em a{font-size:14px; color:#666; font-weight:normal}
.detail_top dl dd p{ font-size:13px; line-height:150%; color:#52BF7F;}
.detail_top dl dd strong{ font-size:12px; color:#666; line-height:150%; font-weight:normal}
.wuliu img{ position:absolute; bottom:0px;}


.ord_list1{width:100%; margin:auto; overflow:hidden; background:#FFF; margin-top:10px; border-bottom:1px solid #CCC;border-top:1px solid #CCC}
.ord_list1 h2{ width:95%; margin:auto; height:40px;font-size:14px; line-height:40px; color:#666; font-weight:normal}
.ord_list1 h2 img{ display:inline-block; width:20px; height:20px; margin-top:-5px}
.ord_dingdan{ width:95%; margin:auto; overflow:hidden; border-top:1px solid #eeeeee; padding-top:8px; padding-bottom:8px;}
.ord_dingdan .ord_img{ width:30%; float:left}
.ord_dingdan .ord_img img{width:100% ;}
.ord_dingdan .ord_name{ width:70%; float:left}
.ord_dingdan .ord_name p{ width:95%; margin:auto;}
.ord_dingdan .ord_name p a{ display:block; font-size:14px; line-height:18px; color:#333}
.ord_dingdan .ord_name span{ display:block; width:95%; margin:auto; font-size:13px; line-height:150%; color:#666;}
.ord_dingdan .ord_name strong{ display:block; width:95%; margin:auto; font-size:13px; line-height:150%; color:#e41735;}
.xiaoji{ width:90%; margin:auto; text-align:right; height:30px; font-size:14px; color:#666; line-height:30px;}
.xiaoji strong{ color:#e41735;font-size:18px;}
.zhifu{display:block; height:25px;right:5px;text-align:center; font-size:14px; line-height:25px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;background-color:#5D6B85; margin-top:10px; width:60%; margin:auto}
.zhif{ display:block; line-height:25px;}
.jiage{ width:100%;margin-right:8px; overflow:hidden;text-align:right; font-size:14px; line-height:150%; color:#333; padding-top:10px; padding-bottom:10px;}
.jiage p{ width:80%; float:right; margin-right:10px;}
.price{ color:#e41735}
.price1{ color:#e41735; font-size:20px;}
.qita{ width:100%; overflow:hidden; margin-top:10px; background:#FFF; border-bottom:1px solid #CCC; border-top:1px solid #CCC;}
.subNav{ width:100%; height:40px; font-size:16px; line-height:40px; color:#333; text-indent:10px;}
.navContent{ width:90%; margin:auto; overflow:hidden;}
.navContent ul{ width:98%; margin:auto; overflow:hidden; padding-bottom:10px; padding-top:8px;}
.navContent ul li{ font-size:12px; line-height:150%; color:#666}
.list_footer{ width:100%; height:50px; background:#FFF; position:fixed; bottom:0px;}
.list_footer a{ display:block; margin:auto; width:95%; height:40px; margin-top:5px; font-size:16px; line-height:40px; color:#fff; text-align:center;  border-radius:20px; background:#FF3300;border-radius:3px; }
/*我的收藏user_collection.lbi*/
.shouchang{ width:100%; overflow:hidden; background:#FFF;}
.shouchang ul{ width:95%; margin:auto; overflow:hidden}
.shouchang ul li{ width:100%; overflow:hidden; margin-bottom:5px; position:relative; border-bottom:1px solid #eeeeee; padding-bottom:15px; padding-top:15px}
.shouchang ul li .imgurl{ width:25%; float:left;}
.shouchang ul li .imgurl img{ width:100% !important;  height:auto !important}
.shouchang ul li .order_info{ width:73%; float:right; overflow:hidden;}
.shouchang ul li .order_info dl dt{ width:100%; font-size:14px; line-height:150%; color:#333;}
.shouchang ul li .order_info dl dd{ width:100%; font-size:14px; line-height:150%; color:#333}
.shouchang ul li .order_info dl dd strong{ color:#e41735}
.shouchang ul li .dingdancaozuo{ position:absolute; right:0px; bottom:15px;}
.shouchang ul li .dingdancaozuo a{ display:block; float:left; padding-left:10px; padding-right:10px;height:25px; font-size:13px; line-height:25px; text-align:center; color:#666}
.s_flow{ border-radius:25px; border:1px solid #e41735; margin-right:10px; background:#e41735}
.s_out{ border-radius:25px; border:1px solid #999; margin-right:10px; background:#999}
.font12{ font-size:18px; line-height:50px; text-align:center; color:#333}
/*收藏店铺*/
.sc_nav{ width:100%; overflow:hidden; height:50px; padding-top:10px; padding-bottom:2px}
.sc_nav ul{ width:90%; margin:auto; overflow:hidden; border:1px solid #666;border-radius:3px; }
.sc_nav ul li{ width:50%; float:left; overflow:hidden; line-height:40px; height:40px;text-align:center}
.sc_nav ul li a{ font-size:16px; color:#666; display:block; width:100%; height:40px}
.sc_nav ul li a.on { color:#fff;background:#666}
.main{ width:100%; overflow:hidden; border-top:1px solid #ccc}
.dianpu{ width:100%; overflow:hidden; background:#FFF;}
.dianpu ul{ width:95%; margin:auto; overflow:hidden}
.dianpu ul li{ width:100%; overflow:hidden; margin-bottom:5px; position:relative; border-bottom:1px solid #eeeeee; padding-bottom:10px; padding-top:10px}
.dianpu ul li .imgurl{ width:20%; float:left;}
.dianpu ul li .imgurl img{ width:100% !important;  height:auto !important}
.dianpu ul li .order_info{ width:78%; float:right; overflow:hidden;}
.dianpu ul li .order_info dl dt{ width:100%; font-size:14px; line-height:150%; color:#333;}
.dianpu ul li .order_info dl dt span{ display:inline-block; margin-right:5px; height:20px; line-height:20px; padding-left:5px; padding-right:5px; font-size:12px; background:#666; color:#fff;border-radius:3px; }
.dianpu ul li .order_info dl dd{ width:100%; overflow:hidden; margin-top:10px; height:25px;}
.dianpu ul li .order_info dl dd img{ display:block; height:25px; width:25px; float:left}
.dianpu ul li .order_info dl dd span{ display:block; font-size:14px; color:#666; line-height:25px;float:left}
.outdianpu{ display:block; height:25px; padding-left:10px; padding-right:10px; background:#999; color:#FFF; position:absolute; right:10px; line-height:25px; bottom:10px;border-radius:25px; font-size:14px}
/*我的评价user_comments.lbi*/
.Evaluation{ width:100%; height:40px; border-bottom:1px solid #eeeeee; background:#FFF}
.Evaluation ul{ width:90%; margin:auto; height:39px;}
.Evaluation ul li{ width:33.3%; float:left; height:39px; line-height:39px; text-align:center}
.Evaluation ul li a{ display:block; width:90%; margin:auto; height:38px; font-size:16px; color:#666; }
.Evaluation ul li a.on { color:#dd2726; border-bottom:2px solid #dd2726 }

.Emain{ width:100%; overflow:hidden;}
.pingjia{ width:100%; overflow:hidden; background:#FFF; padding-top:10px; padding-bottom:10px; margin-bottom:10px;}
.pingjia h2{ width:95%; height:40px; margin:auto; font-size:14px; line-height:40px; color:#999; font-weight:normal}
.pingjia dl{ width:95%; overflow:hidden; margin:auto;}
.pingjia dl dt{ width:25%; float:left; overflow:hidden}
.pingjia dl dt img{ display:block; width:95%; float:left}
.pingjia dl dd{ width:75%; float:left; overflow:hidden}
.pingjia dl dd span{ display:block; width:100%; overflow:hidden; font-size:14px; line-height:150%; color:#000}
.pingjia dl dd strong{ display:block; width:100%; overflow:hidden; font-size:16px; line-height:150%; color:#e41735; font-weight:normal;}
.pj_zhuangtai{ width:95%; margin:auto; overflow:hidden; border-top:1px solid #eeeeee; text-align:right; margin-top:10px;font-size:14px; line-height:40px;color:#999; padding-top:10px;}
.pj_zhuangtai a{ display:inline-block; width:80px; height:40px; border:1px solid #ccc; font-size:16px; line-height:40px; color:#999; text-align:center;border-radius:5px; }
.pj_main{ width:95%; margin:auto; overflow:hidden; border-top:1px solid #eeeeee; text-align:right; margin-top:10px; padding-top:10px; padding-bottom:10px;}
.pj_main ul{ width:100%; overflow:hidden;}
.pj_main ul li{ width:100%; overflow:hidden}
.pj_main ul li em{ display:block; float:left;font-size:14px; line-height:30px; color:#000;}
.pj_main ul li img{ display:block; float:left; height:20px; margin-top:5px;}
.pj_w{ width:100%; overflow:hidden; text-align:left; font-size:14px; line-height:150%; color:#999}
.sd_img{ width:100%; overflow:hidden}
.sd_img dl{ width:100%; overflow:hidden}
.sd_img dl dd{ float:left;width:50px; height:50px; margin:5px;}
.sd_img dl dd img{ width:50px; height:50px;}
/*----评价comment_order.dwt----*/
.pj{ width:100%; margin:auto; padding-top:10px; padding-bottom:10px; background:#FFF}
.pj dl{ width:95%; overflow:hidden; margin:auto}
.pj dl dt{ width:20%; float:left; overflow:hidden;}
.pj dl dt img{ display:block; width:100%; }
.pj dl dd{ width:80%; float:left; overflow:hidden;}
.pj dl dd p{ width:95%; margin-left:5%; font-size:14px; color:#000; line-height:150%;}
.pj dl dd span{ display:block; width:95%; margin-left:5%; font-size:14px; color:#F60; line-height:150%;}

.haoping{ width:95%; overflow:hidden; text-align:center; margin:auto; margin-top:15px;}
.haoping a{ display:inline-block;padding-left:10px; padding-right:15px; overflow:hidden; border-radius:20px; font-size:16px; line-height:25px; margin-left:10px; margin-right:10px;}
.haoping a em{ display:inline-block; width:25px; height:25px; margin-right:5px;}
.haoping a em img{ width:25px; height:25px;}
.clo1{ color:#e41735}
.clo1 em{ background:#e41735;border-radius: 50%; }
.clo2{ color:#F90}
.clo2 em{ background:#F90;border-radius: 50%; }
.clo3{ color:#999}
.clo3 em{ background:#999;border-radius: 50%; }
.p_main{ width:95%;margin:auto; margin-top:15px; overflow:hidden; }

.pj .inputBorder{ border: 1px solid #DFDFDF; line-height:150%; padding-top:5px; padding-bottom:5px; padding-left: 5px; -webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; background:#f4f3f3; font-size:14px; width:95%; margin:auto;}

.m_pingjia{display:block; margin:auto; background:#FF3300; font-size:16px; line-height:40px; 
 border:0px; color:#FFF; width:100%; margin:auto;margin-top:10px; margin-bottom:10px;border-radius:5px; }
.pingfen{ width:100%; padding-top:10px; padding-bottom:10px; overflow:hidden; margin:auto; margin-top:10px; background:#FFF; border-top:1px solid #eeeeee}
.pingfen h2{ width:95%; margin:auto; height:40px; font-size:16px; color:#000; line-height:40px; font-weight:normal;}
.pingfen ul{ width:95%; margin:auto; overflow:hidden}
.pingfen ul li{ float:left; font-size:14px; line-height:30px; color:#666; }
.pingfen ul li img{ height:20px;}
.jsstar{ width:80%;float:left}

.p_main ul{ width:100%; overflow:hidden;}
.p_main ul li{ width:100%; height:50px; border:1px solid #000}
.p_main ul li input{ display:block; width:200px; height:50px; border:0; background:#CCC}

/*个人设置user_welcome.lbi*/
.Personal{ width:100%; overflow:hidden; background:#F5F5F5}
.Personal .innercontent1{ width:100%; margin:auto; overflow:hidden; background:#FFF; padding-bottom:10px;padding-top:10px;}
.Personal .innercontent1 .name{ width:95%; margin:auto; height:50px;font-size:14px; line-height:50px; color:#666; border-bottom:1px solid #eeeeee}
.Personal .innercontent1 .name span{width:25%; display:inline-block;}
.name input{ border:0px solid #DFDFDF; height: 18px; line-height: 18px; padding-top:4px; padding-bottom:4px; padding-left: 5px; -webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; background-color: white; margin-left:3px;}

.name select { -webkit-appearance: none; border-radius: 0; border: 0px solid #e5e5e5; height:50px; line-height:50px; background-repeat: no-repeat; background-image: url('../images/down.png'); background-position: center right; background-size: 23px 7px; display: inline-block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;font-size:18px; color:#333; padding-right:30px;}

.field_pwd input{  border: 1px solid #DFDFDF; height:25px; padding-top:4px; padding-bottom:4px; -webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; background-color: white; display:block; margin:auto; margin-top:10px; font-size:14px; line-height:25px; width:80%; text-indent:10px; }

.Personal .innercontent1 .name1{width:95%; margin:auto; height:50px;font-size:14px; line-height:50px; color:#666; border-bottom:1px solid #eeeeee}
.Personal .innercontent1 .name1 span{width:25%; display:block; float:left}
.name1 ul { width:70%; float:left; height:50px;}
.name1 ul li { float: left; width:33.3%}
.name1 ul li input{ display:none}
.name1 ul li label { padding-left: 22px; display: block; height:50px; line-height:50px; background: url(../images/category/select2.png) 0 17px no-repeat; background-size: 15px 87px; color: #989da2; font-size:14px;}
.name1 ul li.on label { background-position: 0 -27px; }


.btn_big1{ display:block; margin:auto; background:#FF3300; font-size:14px; line-height:40px; 
 border:0px; color:#FFF; width:95%; margin:auto;margin-top:10px; margin-bottom:10px;border-radius:3px; font-family:"微软雅黑"}

.title{ font-size:16px; color:#333; line-height:40px; margin-left:10px;}
.field_pwd select{ -webkit-appearance: none; border-radius: 0; border: 1px solid #e5e5e5; height: 34px; line-height: 34px; padding: 0 23px 0 10px; color: #333; background-repeat: no-repeat; background-image: url('../images/down.png'); background-position: center right; background-size: 23px 7px; display: inline-block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; display:block;margin:auto; width:80%;}

.Personal .innercontent11{ width:100%; margin:auto; overflow:hidden; background:#FFF; padding-bottom:10px; margin-top:10px; border-bottom:1px solid #ccc; border-top:1px solid #ccc}



/*地址管理user_address_listlbi*/
.address_add{ width:100%; overflow:hidden; background:#FFF; border-bottom:1px solid #CCC; position:relative; color:#666; padding-top:10px; padding-bottom:10px;}
.address_add h2{ width:25px; height:25px; position:absolute; right:5px; top:50%; margin-top:-12px;}
.address_add h2 img{ display:block; width:25px; height:25px;}

.address_add dl{ width:85%; float:left; overflow:hidden; padding-left:10px;}
.address_add dl dt{ width:100%; height:35px;}
.address_add dl dt span{ display:block; float:left; font-size:16px; line-height:35px; font-weight:bold;}
.address_add dl dt em{ display:block; float:right; font-size:16px; line-height:35px; font-style:normal}
.address_add dl dd{font-size:14px; line-height:150%;}
.Default{ background:#5e6b85; color:#FFF}

.addressmone{ width:100%; overflow:hidden; background:#fff}
.addressmone ul{ width:95%; overflow:hidden; margin:auto}
.addressmone ul li{ width:100%; overflow:hidden; border-bottom:1px solid #CCC;}
.addressmone ul li span{ display:block; float:left; width:30%; font-size:14px; line-height:45px; color:#666;}
.addressmone ul li input{ display:block; float:left; width:60%; background:none; border:0px; font-size:16px; color:#333; line-height:45px;}
.addressmone ul li select{ display:block; float:left;background:none; height:45px; border:0px; font-size:16px; color:#333; line-height:45px; padding-right:10px;-webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text;}

.address_save{ display:block; margin:auto; padding-left:15px; padding-right:15px; background:#F60; font-size:16px; height:30px; line-height:30px; text-align:center; color:#FFF; border:0px; margin-top:10px; margin-bottom:10px;}
.submit_btn{ width:80%; height:30px; margin-top:10px; margin-bottom:10px;}

.address_save1{ display:block; float:left; padding-left:15px; padding-right:15px; background:#F60; font-size:16px; height:30px; line-height:30px; text-align:center; color:#FFF; border:0px; margin-top:10px; margin-bottom:10px;}

.address_save2{ display:block; float:right; padding-left:15px; padding-right:15px; background:#666; font-size:16px; height:30px; line-height:30px; text-align:center; color:#FFF; border:0px; margin-top:10px; margin-bottom:10px;}

.dotm_btn{ width:100%; height:50px; background:#fff;position:fixed; bottom:0; text-align:center}
.dotm_btn2{ display:block; float:left; width:30%; height:20px;line-height:20px;margin-left:3%; background-position:0px 0px; padding-top:25px;font-size:12px; background:url(../images/all.png) no-repeat;background-size: auto 300px; text-align:left; text-indent:3px }
.dotm_btn1{ display:block; float:left; width:30%; height:40px; background:#FF3300; font-size:14px; line-height:40px; color:#FFF; border:0; margin-top:5px;border-radius:3px; margin-left:3%; font-family:"微软雅黑"}
.dotm_btn3{ display:block; float:left; width:30%; height:40px; background:#FF3300; line-height:40px; color:#FFF; border:0;margin-top:5px;border-radius:3px;margin-left:3% }

.dotm_btn1_1{ display:block; width:90%; height:40px; background:#FF3300; font-size:14px; line-height:40px; color:#FFF; border:0; margin:auto; margin-top:5px;border-radius:3px; font-family:"微软雅黑"}

/*我的推荐user_affiliate.lbi*/
.tuijian{ width:90%; margin:auto; overflow:hidden; font-size:14px; line-height:150%; color:#333}
.tui_main{ width:100%; overflow:hidden; background:#FFF}
.data_table{font-size:14px; color:#333; margin:auto}

/*我的留言user_message.lbi*/
.liuyan{ width:100%; overflow:hidden; margin-top:10px;}
.liuyan_list{ width:100%; overflow:hidden; background:#FFF;}
.liuyan_list dl{ width:95%; overflow:hidden; margin:auto; border-bottom:1px solid #CCC; margin-bottom:10px;}
.liuyan_list dl dt{ width:100%; height:35px; font-size:16px; color:#333; line-height:35px; margin-bottom:5px;}
.liuyan_list dl dt .title{ display:inline-block; background:#fdae73; font-size:14px; color:#FFF; height:25px; padding-left:5px; padding-right:5px; line-height:25px; margin-right:8px; border-radius:5px; margin-left:0px; }

.liuyan_list dl dd{ width:100%; font-size:14px; color:#333; line-height:150%}
.liuyandom{ width:100%; overflow:hidden; background:#FFF; border-top:1px solid #CCC; padding-top:20px; margin-top:20px;}
.liuyandom h3{ width:100%; height:40px; font-size:16px; color:#333; text-indent:10px; line-height:40px; font-weight:normal}
.form_search{ font-size:14px; line-height:180%; color:#333; width:95%; margin:auto; overflow:hidden}
.form_search span{ font-size:16px; line-height:25px; color:#333}
.field_else{ width:95%; margin:auto; margin-top:10px;}
.field_else span{ font-size:16px; line-height:25px; color:#333}
.field_else input{border: 1px solid #DFDFDF; height: 18px; line-height: 18px; padding-top:5px; padding-bottom:6px; width: 195px; padding-left: 5px; -webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; background-color: white; font-size:14px;}
.field_else textarea{ border:1px solid #DFDFDF; width:100%;text-indent:10px; font-size:14px; line-height:30px; -webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; background-color: white;}
.c_btn_oran{ display:block; width:90%; margin:auto; border:0px; font-size:16px; color:#FFF; background:#FF3300; height:40px; line-height:40px; margin:auto}

.liuyan_list .liuyan_time{ display:block; margin:auto;width:90%; height:30px; text-align:right; line-height:30px; color:#999; font-size:12px;}
/*input按钮样式*/
.anniu{ width:100%; overflow:hidden; margin:auto}
.anniu ul { width:100%;height:50px;}
.anniu ul li { float: left; padding-right:10px;}
.anniu ul li input{ display:none}
.anniu ul li label { padding-left: 22px; display: block; height:50px; line-height:50px; background: url(../images/category/select2.png) 0 17px no-repeat; background-size: 15px 87px; color: #333; font-size:14px;}
.anniu ul li.on label { background-position: 0 -27px; }

/*我的红包*/
.has_tab_box{ width:100%; overflow:hidden; background:#FFF}
.has_tab_box_bonus{ background:none;}
.has_tab_box .user_bonus_wrap{ width:92%; margin:10px auto; position:relative}
.has_tab_box .user_bonus_wrap h2{ width:20px; height:20px; background:#F00; font-size:14px; font-weight:normal; color:#FFF; text-align:center; position:absolute; right:0; top:0; line-height:20px;}
.has_tab_box .user_bonus_box{ overflow:hidden; padding:0 1.5%;background:#fff; border:1px solid #cfcfcf; border-bottom:0;}
.user_bonus_box .bonus_l{ float: left; width: 72%; box-shadow: 2px 2px 4px #f5f5f5; position: relative; padding-bottom: 10px; }
.user_bonus_box .bonus_l .bonus_l_price{ border-bottom: 1px solid #efefef; color: #eb410f; font-size:12px;}
.user_bonus_box .bonus_l .bonus_l_price span{ display: inline-block; padding-bottom: 6px; padding-top: 10px; font-size:28px;}
.user_bonus_box .bonus_l .bonus_l_price i{ font-size:18px;}
.user_bonus_box .bonus_l .bonus_l_con{ font-size: 12px; padding-top: 6px; line-height: 16px; }
.user_bonus_box .bonus_r{ font-size: 13px; float: left; width: 28%; height: 100%; text-align: center;}
.user_bonus_box .bonus_r span{display: block; padding: 0.2em 0; margin: 10px auto 5px; text-align: center; font-family: 'Microsoft YaHei'; font-size: 16px;color: #eb410f; font-weight: bold;}
.user_bonus_box .bonus_r p{ font-size:13px; width:100%; line-height:20px; color:#666; }
.user_bonus_wrap .user_bonus_border{ width:100%;height:6px;background:url(../images/quan.png) repeat-x center bottom;border-top:2px solid #eb410f;}
.has_tab_box ul li{ width:100%; overflow:hidden; height:20px;}
.has_tab_box ul li span{ display:block; font-size:14px; line-height:20px; color:#666; float:left; width:40%; text-indent:10px}
.has_tab_box ul li em{ display:block; font-size:14px; line-height:25px; color:#666; float:left; font-style:normal}
.pice{ font-weight:bold; font-size:16px;}
.empty{ width:100%; height:20px; font-size:14px; line-height:20px; color:#666; text-align:center; padding-left:20px; padding-bottom:20px; padding-top:20px;}

.innercontent{ width:92%; overflow:hidden; margin-top:5px; padding:10px 4%; border-top:1px solid #CCC}
.innercontent h2{ font-size:16px; color:#000; font-weight:normal; line-height:35px;}
.innercontent .tbl_type,.tbl_type{ display:table; width: 100%;}
.innercontent .tbl_type .tbl_cell,.tbl_type .tbl_cell{display:table-cell; font-size:16px; color:#000;}
.innercontent .tbl_type .tbl_cell input{ width:100%;border:1px solid #dfdfdf;height:34px;line-height:34px;padding:0 2%;-webkit-appearance:none; -webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-rtl-ordering:logical;-webkit-user-select:text;background:#fff;box-sizing:border-box;}
/*资金管理*/
.Funds{ background:#fff; margin:10px 10px 10px; padding:0px 10px 0px; border-left: 1px solid #ccc;}
.Funds ul{ margin:auto; padding-top:8px; padding-bottom:8px;}
.Funds ul .Funds_li{ position: relative; padding: 15px 10px; border-bottom: 1px dotted #ccc;}
.Funds ul .Funds_li .icon{ display:block;width:9px; height:9px; background:#666; position:absolute;top:42%;left:-15px;border-radius:5px;}
.Funds ul .Funds_li .icon.on{ background:#e41735;}
.Funds ul li strong{ display:inline-block; width:30%;}
.Funds ul li span{ display:block; font-size:14px; color:#666; line-height:24px;}
.Funds ul li span em{ color:#e41735;}
.funds_dot{ width:100%; padding-top:10px; padding-bottom:10px; font-size:16px; line-height:30px; color:#666; text-align:center}
#OrderList h3 .fr{ padding-right:10px; font-size:12px; float:right;}
.user_login_title{ width:100%; overflow:hidden; background:#F5F5F5; height:100px; border-bottom:1px solid #ccc}
.user_login_title h2{ text-align:center; width:90%; margin:auto; overflow:hidden; font-weight:normal}
.user_login_title h2 em{ font-style:normal; font-size:14px; line-height:100px; color:#e41735}
.user_login_title h2 span{ font-size:34px; color:#e41735; line-height:100px;}
/*收货地址*/
.smart-result table tr.odd {
  background: #f6f6f6;
}.smart-result table tr {
  width: 100%;
  font-weight:normal; font-size:16px;
  color: #909090;
}.smart-result table tr.even {
  background: #eeeeee;
}.smart-result table tr.odd {
  background: #f6f6f6;
}
.smart-result table tr.last-line {
  color: #FF6600;
}
.smart-result table td.col1 {
  width: 29%; padding-left:1%
}
.smart-result table tr.first-line td.colstatus {
  background: url("../images/step_start.png") center center no-repeat;
}
.smart-result table tr td.colstatus {
  background: url("../images/step_point.png") center center no-repeat;
}
.smart-result table td.colstatus {
  width: 10%;
}
.smart-result table td {
  height: 60px;
  background: none;
}
.smart-result table td.col2 {
  padding: 10px;
  width: 60%;
  line-height: 24px;
}
.result-date{ font-size:14px;}
.smart-result-comname {
  width: 30%;
  padding-right: 5%;
  background: #ff868f;
}
.smart-result-comname, .smart-result-kuaidinum {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}
.smart-result-comname, .smart-result-kuaidinum {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}
.smart-result-kuaidinum {
  width: 60%;
  padding-left: 5%;
  background: #ff2233;
}
/*物流信息*/
.dingdan_5{background:url(../images/kd.png) no-repeat;background-size: auto 120px;}
.dingdan_5{ width:30px; height:30px; display:block; background-position:0 0px;}
.kd_dingdan{ width:100%; overflow:hidden; padding-top:10px; padding-bottom:10px; background:#FFF; margin-top:10px;}
.kd_dingdan h2{ width:95%; margin:auto; height:50px; font-size:16px; line-height:50px; color:#666; border-bottom:1px solid #eeeeee; font-weight:normal}
.kd_dingdan dl{width:95%; margin:auto; overflow:hidden;border-bottom:1px solid #eeeeee; padding-top:10px; padding-bottom:10px;}
.kd_dingdan dl dt{ width:20%; float:left;}
.kd_dingdan dl dt img{ display:block; width:90%; float:left}
.kd_dingdan dl .name{ width:60%; float:left; overflow:hidden}
.kd_dingdan dl .name strong{ display:block; width:100%; font-size:14px; line-height:120%; color:#333; font-weight:normal}
.kd_dingdan dl .name span{display:block; width:100%; height:15px; line-height:15px; font-size:12px; color:#999; margin-top:5px; overflow:hidden;}
.kd_dingdan dl .pice{ width:20%; float:left; overflow:hidden; font-size:14px; line-height:120%; color:#333; text-align:right}
.kd_dingdan dl .pice em{ display:block; width:100%; font-size:12px; color:#666; line-height:20px; font-style:normal;}
.kd_wl{width:100%; overflow:hidden; padding-top:10px;background:#FFF; margin-top:20px;}
.kd_wl h2{ width:95%; margin:auto; height:50px; font-size:16px; line-height:50px; color:#666; border-bottom:1px solid #eeeeee}
.kd_wl{width:100%;margin:auto; overflow:hidden; margin-top:10px;}
.kd_wl dl{ width:95%;margin:auto; overflow:hidden; position:relative}
.kd_wl dl dt{ position:absolute; top:0px; float:left;width:15px; height:15px; margin-left:2px; background:#25AE5F;border-radius: 50%; }
.kd_wl dl dd{ width:97%; float:right; overflow:hidden; border-left:1px solid #cccccc}
.kd_wl dl dd p{ width:95%;overflow:hidden; float:right; font-size:13px; line-height:150%; color:#52BF7F;}
.kd_wl dl dd strong{ display:block; padding-bottom:10px; width:95%;float:right; font-size:12px; color:#666; line-height:150%; font-weight:normal}
/*储值卡充值*/
.vc_title{ width:95%; height:50px; margin:auto; font-size:14px; line-height:50px; color:#666; text-align:left; border-bottom:1px solid #eeeeee; margin-bottom:10px; font-weight:normal}
.vc_title strong{ font-size:18px; color:#e41735}
.Top{ width:95%; overflow:hidden; margin:auto}
.Top dl{ width:100%; overflow:hidden;}
.Top dl dt{ width:15%; height:40px; float:left; font-size:14px; line-height:40px; color:#666}
.Top dl dd{ width:85%; float:left; height:40px;}
.Top dl dd font{ line-height:40px;}
.Top dl dd input{border: 1px solid #DFDFDF; height:30px; line-height:30px; width:80%; padding-left: 5px; -webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; background-color: white; font-size:14px; line-height:30px;}
.Top p{ width:90%; margin:auto; height:30px; font-size:14px; line-height:30px; color:#e41735; text-align:right}
/*晒单*/
.shaidan{ width:95%; margin:auto;overflow:hidden; border-top:1px solid #eeeeee; margin-top:10px; padding-top:20px;}
.shaidan h2{ width:20%; margin:auto; height:40px; font-size:18px; color:#333; line-height:40px; float:left; font-weight:normal}
.shaidan .title{ display:block; width:75%; float:left; margin:auto;-webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; border:1px solid #ccc}
.p_main{ width:95%; margin:auto; overflow:hidden}
.p_main h2{ width:100%; margin:auto; height:40px; font-size:18px; color:#333; line-height:40px; float:left; margin-top:10px;font-weight:normal}
.p_main .inputBorder{display:block; width:95%; margin:auto;-webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; border:1px solid #ccc}

.file {
    position: relative; display: inline-block;
    background:url(../images/xiangji.png) no-repeat center center; border: 1px solid #ddd;
    border-radius: 4px;padding: 0px 0px;overflow: hidden;color: #1E88C7;
    text-decoration: none;text-indent: 0;line-height: 20px;background-size: auto 50px;}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #fff; border: 1px solid #F00; color: #004974;
    text-decoration: none; background:url(../images/xiangji.png) no-repeat center center;background-size: auto 50px;
}