 /*=========自提点样式========*/
.goods_nav{ width:30%; float:right; right:5px; overflow:hidden; position:fixed;margin-top:-11px; z-index:9999999}
/* 代码增加_start   By bbs.hongyuvip.com */
.pickup_point_wrap {
	position: relative;
	text-align: left;
}
#pickup_point {
	margin: 0;
	padding: 5px 0;
	border: 1px solid #ccc;
	cursor: pointer;
	width: 80px;
	text-align: center;
	background-color: #fff;
	z-index: 3;
	position: relative;
	float: left;
}
#pickup_point_list {
	width: 100%;
	text-align: left;
	z-index: 1;
	display:none;
}
.textInfo ul ul, .textInfo ul ul li {
	border: none;
	list-style: none;
	background: none;
}
#pickup_point_list li {
	margin: 8px 0 8px 10px;
}
#area_label {
	float: left;
	border: 1px solid #ccc;
	border-left: none;
	padding: 5px 20px 5px 5px;
	position: relative;
	margin-left:0px;
	z-index: 4;
	background: url(../images/angle_bracket_1.png) no-repeat 95% #fff;
}
#area_menu {
	line-height: 24px;
	height: 26px;
	margin: 5px;
	border-bottom: 2px solid #E71F19;
}

#area_menu a {
	margin: 0 5px;
	padding: 0 15px;
	cursor: pointer;
	background:#F0F0F0; color:#FFF;
	text-decoration: none;
	line-height: 26px; color:#000;
	float: left;
	display: block;
}
#area_menu a.hover {
	border: 2px solid #E71F19;
	border-bottom: none;
	background:#E71F19; color:#FFF;
}
#area_menu a:hover {
color: #000;
}
#area_menu a.hover:hover {
color: #ffffff;
}
#area_list_wrap {
	background-color: #fff;
	z-index: 2;
	display:block;
	width: 100%;
	padding:10px 0px
}
#area_list_wrap li {
	float: left;
	margin: 5px 3px 0px;
	width: 90px;
	text-align:center;
	padding:0px;
}
#area_list_wrap li a {
	text-decoration: none;
	padding: 2px 4px;
}
#area_list_wrap li a:hover {
	background-color: #E31939;
	color: white;
}
/* 代码增加_end   By bbs.hongyuvip.com */
.stars_box{
	position:relative;
	z-index:1;
}
.feel_con_box{
	position:absolute;
	position:absolute;
	left:150px;
	top:2px;
	display:inline-block;
}
.feel_con{
	position:relative;
	z-index:1;
	display:inline-block;
	line-height:18px;
	padding:5px 10px;
	background:#fff;
	border:1px solid #E71F19;
	text-align:center;
	display:none;
}
.feel_con .arrow{
	display:block;
	width:6px;
	height:10px;
	background:url(../images/arrow.png) no-repeat 0 0;
	position:absolute;
	left:-6px; 
	top:9px;
}
.star_t{
	width:140px; 
	float:left;
}
.result{ 
	float:left; 
	height:24px; 
	line-height:24px; 
	padding-left:5px; 
	font-size:14px;
}
.result span{
	font-weight:bold; 
	color:#f60;
}

.point-list .block {
  float: left;
  width:96%;
  background: #f8f8f8 url(../images/newaddress/xuxian.png) no-repeat 90% center;
  margin: 10px 2% 0px;
  position: relative;
  overflow: hidden;
  border: 1px solid #f8f8f8;
}
.block .fl {
  width: 100%;
}
.fl a {
  display: block;
}
.fl a ul {
  margin: 0px 0 0 0;
}
.block .fl a li.one {
  width: 30%;
  text-align: center; float:left;
}
.block .fl a li.one img {
  width: 48px;
  height: 48px;  margin-top:10px;
}
.block .fl a li.two {
  width: 60%; float:left; line-height:22px; padding-bottom:20px;
}

.block .fl a li h3 {
  font-size: 12px;
  color: #000;
  margin: 5px 0;
}
.block .fl a li p {
  font-size: 12px;
  color: #000;
}
.clear {
  clear: both;
  font-size: 1px;
  height: 0;
  line-height: 0px;
  margin: 0;
  padding: 0;
}


.block .tel {
  height: 22px;
  line-height: 22px; 
  background: #dadada;
  width: 100%;
  opacity: 0.8;
  font-size: 12px;
  text-align: center;
}
.block .tel img {
  vertical-align: middle;
  margin: 0 5px 0 10px;
}
.title{ font-size:14px; font-weight:bold; width:96%; padding:0 2%; margin-top:20px; height:35px; line-height:35px; border-bottom:#E71F19 2px solid;}