body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
th {
	text-align: inherit
}
caption, th {
	text-align: left
}
img {
	border: 0
}
iframe {
	display: block
}
ul, ol, li {
	list-style: none
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	vertical-align: middle
}
button:focus, input:focus, select:focus, textarea:focus {
	outline: 0
}
textarea {
	overflow: auto;
	vertical-align: top
}
button, input {
*overflow:visible;
	line-height: normal
}
button, input[type=button], input[type=reset], input[type=submit] {
	cursor: pointer
}
button[disabled], input[disabled] {
	cursor: default
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
*background-color:transparent
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}
audio, canvas, video {
	display: inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
	display: none;
	height: 0
}
a {
	background: transparent;
	text-decoration: none
}
a:focus {
	outline: thin dotted
}
a:active, a:hover {
	outline: 0
}
a:link, a:visited, ins {
	text-decoration: none
}
meta.foundation-version {
	font-family: "/5.2.2/"
}
meta.foundation-mq-small {
	font-family: "/only screen/";
	width: 0
}
meta.foundation-mq-medium {
	font-family: "/only screen and (min-width:40.063em)/";
	width: 40.063em
}
meta.foundation-mq-large {
	font-family: "/only screen and (min-width:64.063em)/";
	width: 64.063em
}
meta.foundation-mq-xlarge {
	font-family: "/only screen and (min-width:90.063em)/";
	width: 90.063em
}
meta.foundation-mq-xxlarge {
	font-family: "/only screen and (min-width:120.063em)/";
	width: 120.063em
}
meta.foundation-data-attribute-namespace {
	font-family: false
}
html, body {
	height: 100%
}
*, :before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
html, body {
	font-size: 100%
}
body {
	padding: 0;
	margin: 0;
	font-family: "WenQuanYi Micro Hei", "Droid Sans Fallback", Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default
}
a:hover {
	cursor: pointer
}
img {
	max-width: 100%;
	height: auto
}
img {
	-ms-interpolation-mode: bicubic
}
.left {
	float: left!important
}
.right {
	float: right!important
}
.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}
.clearfix:after {
	clear: both
}
.hide {
	display: none
}
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
img {
	display: inline-block;
	vertical-align: middle
}
textarea {
	height: auto;
	min-height: 50px
}
select {
	width: 100%
}
.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5rem;
*zoom:1
}
.row:before, .row:after {
	content: " ";
	display: table
}
.row:after {
	clear: both
}
.row-wrapper {
padding-left:.375rem;
padding-right:.375rem
}
.row.collapse>.column, .row.collapse>.columns {
	padding-left: 0;
	padding-right: 0
}
.row.collapse .row {
	margin-left: 0;
	margin-right: 0
}
.row .row {
	width: auto;
margin-left:-.375rem;
margin-right:-.375rem;
	margin-top: 0;
	margin-bottom: 0;
	max-width: none;
*zoom:1
}
.row .row:before, .row .row:after {
	content: " ";
	display: table
}
.row .row:after {
	clear: both
}
.row .row.collapse {
	width: auto;
	margin: 0;
	max-width: none;
*zoom:1
}
.row .row.collapse:before, .row .row.collapse:after {
	content: " ";
	display: table
}
.row .row.collapse:after {
	clear: both
}
.column, .columns {
padding-left:.375rem;
padding-right:.375rem;
	width: 100%;
	float: left
}
@media only screen {
.small-push-0 {
	position: relative;
	left: 0;
	right: auto
}
.small-pull-0 {
	position: relative;
	right: 0;
	left: auto
}
.small-push-1 {
	position: relative;
	left: 8.33333%;
	right: auto
}
.small-pull-1 {
	position: relative;
	right: 8.33333%;
	left: auto
}
.small-push-2 {
	position: relative;
	left: 16.66667%;
	right: auto
}
.small-pull-2 {
	position: relative;
	right: 16.66667%;
	left: auto
}
.small-push-3 {
	position: relative;
	left: 25%;
	right: auto
}
.small-pull-3 {
	position: relative;
	right: 25%;
	left: auto
}
.small-push-4 {
	position: relative;
	left: 33.33333%;
	right: auto
}
.small-pull-4 {
	position: relative;
	right: 33.33333%;
	left: auto
}
.small-push-5 {
	position: relative;
	left: 41.66667%;
	right: auto
}
.small-pull-5 {
	position: relative;
	right: 41.66667%;
	left: auto
}
.small-push-6 {
	position: relative;
	left: 50%;
	right: auto
}
.small-pull-6 {
	position: relative;
	right: 50%;
	left: auto
}
.small-push-7 {
	position: relative;
	left: 58.33333%;
	right: auto
}
.small-pull-7 {
	position: relative;
	right: 58.33333%;
	left: auto
}
.small-push-8 {
	position: relative;
	left: 66.66667%;
	right: auto
}
.small-pull-8 {
	position: relative;
	right: 66.66667%;
	left: auto
}
.small-push-9 {
	position: relative;
	left: 75%;
	right: auto
}
.small-pull-9 {
	position: relative;
	right: 75%;
	left: auto
}
.small-push-10 {
	position: relative;
	left: 83.33333%;
	right: auto
}
.small-pull-10 {
	position: relative;
	right: 83.33333%;
	left: auto
}
.small-push-11 {
	position: relative;
	left: 91.66667%;
	right: auto
}
.small-pull-11 {
	position: relative;
	right: 91.66667%;
	left: auto
}
.small-1 {
	width: 8.33333%
}
.small-2 {
	width: 16.66667%
}
.small-3 {
	width: 25%
}
.small-4 {
	width: 33.33333%
}
.small-5 {
	width: 41.66667%
}
.small-6 {
	width: 50%
}
.small-7 {
	width: 58.33333%
}
.small-8 {
	width: 66.66667%
}
.small-9 {
	width: 75%
}
.small-10 {
	width: 83.33333%
}
.small-11 {
	width: 91.66667%
}
.small-12 {
	width: 100%
}
[class*=column]+[class*=column]:last-child {
float:right
}
[class*=column]+[class*=column].end {
float:left
}
.small-offset-0 {
	margin-left: 0!important
}
.small-offset-1 {
	margin-left: 8.33333%!important
}
.small-offset-2 {
	margin-left: 16.66667%!important
}
.small-offset-3 {
	margin-left: 25%!important
}
.small-offset-4 {
	margin-left: 33.33333%!important
}
.small-offset-5 {
	margin-left: 41.66667%!important
}
.small-offset-6 {
	margin-left: 50%!important
}
.small-offset-7 {
	margin-left: 58.33333%!important
}
.small-offset-8 {
	margin-left: 66.66667%!important
}
.small-offset-9 {
	margin-left: 75%!important
}
.small-offset-10 {
	margin-left: 83.33333%!important
}
.small-offset-11 {
	margin-left: 91.66667%!important
}
.small-reset-order, .small-reset-order {
	margin-left: 0;
	margin-right: 0;
	left: auto;
	right: auto;
	float: left
}
.column.small-centered, .columns.small-centered {
	margin-left: auto;
	margin-right: auto;
	float: none
}
.column.small-uncentered, .columns.small-uncentered {
	margin-left: 0;
	margin-right: 0;
	float: left!important
}
.column.small-uncentered.opposite, .columns.small-uncentered.opposite {
	float: right
}
}
[class*=block-grid-] {
display:block;
padding:0;
margin:0 -.375rem;
*zoom:1
}
[class*=block-grid-]:before, [class*=block-grid-]:after {
	content: " ";
	display: table
}
[class*=block-grid-]:after {
	clear: both
}
[class*=block-grid-]>li {
display:block;
height:auto;
float:left;
padding:0 .375rem
}
@media only screen {
.small-block-grid-1>li {
	width: 100%;
	list-style: none
}
.small-block-grid-1>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-1>li:nth-of-type(1n+1) {
	clear: both
}
.small-block-grid-2>li {
	width: 50%;
	list-style: none
}
.small-block-grid-2>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-2>li:nth-of-type(2n+1) {
	clear: both
}
.small-block-grid-3>li {
	width: 33.33333%;
	list-style: none
}
.small-block-grid-3>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-3>li:nth-of-type(3n+1) {
	clear: both
}
.small-block-grid-4>li {
	width: 25%;
	list-style: none
}
.small-block-grid-4>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-4>li:nth-of-type(4n+1) {
	clear: both
}
.small-block-grid-5>li {
	width: 20%;
	list-style: none
}
.small-block-grid-5>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-5>li:nth-of-type(5n+1) {
	clear: both
}
.small-block-grid-6>li {
	width: 16.66667%;
	list-style: none
}
.small-block-grid-6>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-6>li:nth-of-type(6n+1) {
	clear: both
}
.small-block-grid-7>li {
	width: 14.28571%;
	list-style: none
}
.small-block-grid-7>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-7>li:nth-of-type(7n+1) {
	clear: both
}
.small-block-grid-8>li {
	width: 12.5%;
	list-style: none
}
.small-block-grid-8>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-8>li:nth-of-type(8n+1) {
	clear: both
}
.small-block-grid-9>li {
	width: 11.11111%;
	list-style: none
}
.small-block-grid-9>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-9>li:nth-of-type(9n+1) {
	clear: both
}
.small-block-grid-10>li {
	width: 10%;
	list-style: none
}
.small-block-grid-10>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-10>li:nth-of-type(10n+1) {
	clear: both
}
.small-block-grid-11>li {
	width: 9.09091%;
	list-style: none
}
.small-block-grid-11>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-11>li:nth-of-type(11n+1) {
	clear: both
}
.small-block-grid-12>li {
	width: 8.33333%;
	list-style: none
}
.small-block-grid-12>li:nth-of-type(n) {
	clear: none
}
.small-block-grid-12>li:nth-of-type(12n+1) {
	clear: both
}
}
.new-mu_l2w {
	clear: both;
	margin: .5em 10px;

}
.new-cp-prom2 {
	font-size: 16px;
	color: #313236;
	text-align: center
}
.new-cp-prom2 .new-logo2 {
	display: inline-block;
	width: 89px;
	height: 84px;
	padding-bottom: 10px;
	background: url(../img/icon_logo2.png) 0 0 no-repeat
}
.new-span-block {
	display: block; margin-bottom:20px;
}