/*entry*/
#entry .mt {
    height: 33px;
    background: url(i/tit_regist.jpg) #D1D1D1 repeat-x 0 -34px;
}

#entry .mt h2 {
    float: left;
    height: 33px;
    padding-left: 15px;
    background: url(i/tit_regist.jpg) no-repeat 0 0;
    line-height: 33px;
}

#entry .mt span {
    float: right;
    height: 33px;
    line-height: 33px;
    text-align: right;
}

#entry .mt b {
    float: right;
    width: 10px;
    height: 33px;
    background: url(i/tit_regist.jpg) no-repeat 0 -68px;
}

#entry .mc {
    padding: 40px 40px 30px 40px;
    border: solid #D1D1D1;
    border-width: 0 1px 1px;
    margin-bottom: 10px;
}

#entry .form {
    float: left;
    width: 540px;
    overflow: hidden;
}

#entry .item {
    padding-top: 5px;
    height: 50px;
    line-height: 26px;
}

#entry #autoentry {
    height: 50px;
}

#entry .item a:link, #entry .item a:visited {
    text-decoration: underline;
}

#entry .label {
    width: 100px;
    text-align: right;
    font-size: 14px;
}

#entry .text {
    width: 240px;
    height: 16px;
    padding: 4px 3px;
    border: 1px solid #bbb;
    font-size: 14px;
    font-family: arial, "ו";
}

#entry .text_blank {
    width: 240px;
    height: 16px;
    padding: 4px 3px;
    border: 1px solid #bbb;
    font-size: 14px;
    font-family: arial, "ו";
    color: #999;
}

#entry .text-1 {
    width: 100px;
}

#entry .blank {
    width: 16px;
    height: 16px;
    margin: 2px 5px 0;
}

#entry .mar {
    margin-right: 10px;
}

#entry .img img {
    height: 26px;
    margin: 0 5px;
}

#entry .succeed {
    background: url(i/pwdstrength.gif) no-repeat -105px 0;
}

#entry .btn-entry {
    width: 100px;
    height: 30px;
    background: url(i/new-regist.jpg) no-repeat 0px -31px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#entry .highlight1 {
    border: 1px solid #EFA100;
    outline: 2px solid #FFDC97;
    *border: 2px solid #ffcc66;
    *padding: 3px 2px;
}

#entry .highlight2 {
    border: 1px solid #f00;
    outline: 1px solid #FFC1C1;
    color: #f00;
}

#entry .pwdbg {
    background: #FFF8EB;
}

#entry .focus {
    color: #999;
    line-height: 22px;
    *line-height: 20px;
}

#entry select {
    margin-top: 5px;
}

#entry .null, #entry .error {
    color: red;
    line-height: 22px;
    *line-height: 20px;
}

#entry .checkbox {
    margin-top: 6px;
    *margin-top: 2px;
}

#entry .extra {
    padding-left: 50px;
    padding-top: 30px;
}

#entry .extra .btns {
    float: left;
    position: relative;
    overflow: hidden;
    height: 14px;
    padding: 5px 0 5px 23px;
    margin-right: 2px;
    line-height: 14px;
}

#entry .extra .btns s {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url(i/icon_cooperation.jpg);
    background-repeat: no-repeat;
}

#entry .extra .btns a:link, #entry .extra .btns a:visited {
    text-decoration: none;
    color: #005aa0;
    padding-right: 4px;
    border-right: 1px solid #DBDBDB;
}

#entry .extra .qq s {
    background-position: 0 0;
}

#entry .extra .alipay s {
    background-position: -23px 0;
}

#entry .extra .baidu s {
    background-position: -140px 0;
}

#entry .extra .renren s {
    background-position: -46px 0;
}

#entry .extra .net163 s {
    background-position: -69px 0;
}

#entry .extra .kaixing001 s {
    background-position: -92px 0;
}

#entry .extra .sina s {
    background-position: -115px 0;
}

#entry .extra .douban s {
    background-position: -161px 0;
}

#entry .extra .qihu s {
    background: url(i/360qihu.jpg) no-repeat 0 4px;
    width: 19px;
    height: 21px;
}

#entry .extra .alipay a:link, #entry .extra .alipay a:visited {
    border: none;
}

#entry .extra .more {
    padding-left: 5px;
}

#entry .extra .more a:link, #entry .extra .more a:visited {
    border: none;
}

/*guide*/
#guide {
    float: right;
    width: 300px;
    height: 290px;
    padding: 0px 0 20px 40px;
    border-left: 1px solid #E7E7E7;
}

#guide .content {
    color: #666;
    padding: 10px 0 0;
}

#guide .btn-personal {
    width: 137px;
    height: 35px;
    background: url(i/bg_regist.jpg) no-repeat 0 -186px;
    line-height: 35px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 14px;
    margin-top: 35px;
}

#guide .btn-personal:hover {
    text-decoration: none;
}

#guide .btns {
    border-top: 1px dotted #ccc;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 10px;
    *margin-bottom: 5px;
}

#guide .ept-enter {
    text-align: center;
    margin-bottom: 10px;
    *margin-bottom: 5px;
}

#guide .btns a:link, #guide .btns a:visited, #guide .ept-enter a:link, #guide .ept-enter a:visited {
    margin: 0 10px;
    color: #005aa0;
    font-size: 14px;
}

#guide .app a {
    display: inline-block;
    height: 50px;
    width: 300px;
    background: url(i/app.jpg);
    font-size: 0;
    line-height: 100px;
    overflow: hidden;
}

/*-moz-*/
@-moz-document url-prefix(){#entry .btn-entry{padding-bottom:5px;}}
@-moz-document url-prefix(){#entry .checkbox{margin-top:7px;}}
@-moz-document url-prefix(){.qq,.alipay,.renren{line-height:22px;}}
/**/
#entry .safety {
    position: relative;
}

#entry .mar {
    margin-right: 10px;
    line-height: 24px;
}

#entry .checkbox {
}

#entry .safety .promat {
    background: url("i/safety.jpg") no-repeat scroll 0 0 transparent;
    color: #FF6600;
    display: none;
    height: 38px;
    left: 165px;
    line-height: 16px;
    padding: 10px 15px 5px 12px;
    position: absolute;
    top: -4px;
    width: 120px;
}

#entry .message {
    color: #090 !important;
}