{include file="pageheader.htm"}
<div class="list-div">
<form name="theForm" action="menu.php" enctype="multipart/form-data" method="post">
<table>
  <tr>
  	<td align="left" class="label">菜单名称：</td>
    <td><input type="text" name="menu_name" value="{$menu.menu_name}" /></td>
  </tr>
  <tr>
  	<td align="left" class="label">菜单图片：</td>
    <td>
     <input type="file" name="menu_img" /><br />
     {if $menu.menu_img}
     <img src="../{$menu.menu_img}" width="100" height="100"  style="margin-top:10px"/>
     {/if}
    </td>
  </tr>
  <tr>
  	<td align="left" class="label">链接地址：</td>
    <td><input type="text" name="menu_url" value="{$menu.menu_url}"/></td>
  </tr>
  <tr>
  	<td align="left" class="label">排序：</td>
    <td><input type="text" name="sort" value="{$menu.sort}"/></td>
  </tr>
  <tr>
  <td>&nbsp;</td>
    <td>
    <input type="submit" name="" value="提交" class="button"/>
     <input type="hidden" name="act" value="{$from_act}" />
     <input type="hidden" name="id" value="{$menu.id}" />
    </td>
  </tr>
</table>
</form>
</div>
{include file="pagefooter.htm"}