{if $full_page}

<!-- $Id: users_list.htm 17053 2015-02-10 06:50:26Z derek $ -->

{include file="pageheader.htm"}

{insert_scripts files="../js/utils.js,listtable.js"}



<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">



<!-- start users list -->

<div class="list-div" id="listDiv">

{/if}

<!--用户列表部分-->

<table cellpadding="3" cellspacing="1">

  <tr>

    <th>{$lang.record_id}</th>

    <th>{$lang.username}</th>

    <th>{$lang.user_money}</th>

    <th>{$lang.frozen_money}</th>

    <th>{$lang.rank_points}</th>

    <th>{$lang.pay_points}</th>

    <th>{$lang.handler}</th>

  <tr>

  {foreach from=$user_list item=user}

  <tr>

    <td>{$user.user_id}</td>

    <td class="first-cell">{$user.user_name|escape}</td>

    <td>{$user.user_money}</td>

    <td>{$user.frozen_money}</td>

    <td>{$user.rank_points}</td>

    <td>{$user.pay_points}</td>

    <td align="center">

      <a href="user_grade.php?act=edit&id={$user.user_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>

      <a href="distrib_order.php?act=list&user_id={$user.user_id}&uid={$uid}&level={$level}" title="查看"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a>

    </td>

  </tr>

  {foreachelse}

  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>

  {/foreach}

  <tr>

      <td colspan="2">&nbsp;</td>

      <td align="right" nowrap="true" colspan="10">

      {include file="page.htm"}

      </td>

  </tr>

</table>



{if $full_page}

</div>

<!-- end users list -->

</form>

<script type="text/javascript" language="JavaScript">

<!--

listTable.recordCount = {$record_count};

listTable.pageCount = {$page_count};



{foreach from=$filter item=item key=key}

listTable.filter.{$key} = '{$item}';

{/foreach}



{literal}

onload = function()

{

    document.forms['searchForm'].elements['keyword'].focus();

    // 开始检查订单

    startCheckOrder();

}



/**

 * 搜索用户

 */

function searchUser()

{

    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);

    listTable.filter['rank'] = document.forms['searchForm'].elements['user_rank'].value;

    listTable.filter['pay_points_gt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_gt'].value);

    listTable.filter['pay_points_lt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_lt'].value);

    listTable.filter['page'] = 1;

    listTable.loadList();

}



function confirm_bath()

{

  userItems = document.getElementsByName('checkboxes[]');



  cfm = '{$lang.list_remove_confirm}';



  for (i=0; userItems[i]; i++)

  {

    if (userItems[i].checked && userItems[i].notice == 1)

    {

      cfm = '{$lang.list_still_accounts}' + '{$lang.list_remove_confirm}';

      break;

    }

  }



  return confirm(cfm);

}

//-->

</script>

{/literal}

{include file="pagefooter.htm"}

{/if}