<!-- $Id: user_rank_info.htm 15053 2008-10-25 03:07:46Z testyang $ -->
{include file="pageheader.htm"}

<div class="main-div">
<form action="supplier_rank.php" method="post" name="theForm" onsubmit="return validate()">
<table width="100%">
  <tr>
    <td class="label">{$lang.rank_name}: </td>
    <td><input type="text" name="rank_name" value="{$rank.rank_name}"  maxlength="20" />{$lang.require_field}</td>
  </tr> 
  <tr>
    <td class="label">{$lang.sort_order}: </td>
    <td><input type="text" name="sort_order" value="{$rank.sort_order}" maxlength="20" />{$lang.require_field}</td>
  </tr> 
  <tr>
    <td colspan="2" align="center">
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$rank.rank_id}" />
      <input type="submit" value="{$lang.button_submit}" class="button" />
      <input type="reset" value="{$lang.button_reset}" class="button" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['rank_name'].focus();

onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{

    validator = new Validator("theForm");
    validator.required('rank_name', rank_name_empty);
    validator.isInt('sort_order', sort_order_invalid, true);
    return validator.passed();
}


//-->
</script>
{/literal}
{include file="pagefooter.htm"}