<!-- $Id: category_flashimg_list.htm 17019 2010-01-29 10:10:34Z liuhui $ -->

{include file="pageheader.htm"}

<form method="post" action="" name="listForm">
<!-- start ad position list -->
<div class="list-div" id="listDiv">


<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
  <tr>
    <th>轮播图片地址</th>
    <th>轮播图片链接</th>
    <th>排序</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$flashimg_list item=flashimg}
  <tr align="center" >
    <td width="35%"><a href="{$flashimg.img_url}" target="_blank">{$flashimg.img_url}</a></td>   
    <td width="35%">{$flashimg.href_url}</td>
    <td width="10%" align="right">{$flashimg.sort_order}</td>
    <td width="20%" align="center">
      <a href="category_flashimg.php?act=edit&id={$flashimg.img_id}&cat_id={$flashimg.cat_id}" title="编辑"><img src="images/icon_edit.gif" width="16" height="16" border="0" /></a>
      <a href="category_flashimg.php?act=remove&id={$flashimg.img_id}&cat_id={$flashimg.cat_id}" onclick="return confirm('你确实要删除该图片吗？');" title="删除这张轮播图片"><img src="images/icon_drop.gif" width="16" height="16" border="0" /></a>
    </td>
  </tr>
  {/foreach}
</table>

</div>
</form>


{include file="pagefooter.htm"}
