<!-- $Id: bonus_type.htm 14216 2015-02-04 02:27:21Z derek $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- start bonus_type list -->
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>{$lang.type_name}</th>          
      <th>{$lang.send_count}</th>
	  <th>{$lang.use_date_valid}</th>  
	  <th>{$lang.type_money}</th>
	  <th>{$lang.type_money_count}</th>
	  <th>{$lang.type_money_all}</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$type_list item=type}
    <tr>
      <td class="first-cell">{$type.type_name|escape:html}</td>      
      <td align="center"><span>{$type.send_count}</span></td>
      <td align="center">{$type.use_date_valid}</td>
	  <td align="center">{$type.type_money}</td>
	  <td align="center">{$type.type_money_count}</td>
	  <td align="center">{$type.type_money_all}</td>
      <td align="center">
	    <a href="takegoods.php?act=send&amp;id={$type.type_id}&amp;send_by={$type.send_type}">{$lang.send}</a> |
        <a href="takegoods.php?act=tg_list&amp;tg_type={$type.type_id}&amp;is_used=-1">{$lang.view}</a> |
        <a href="takegoods.php?act=edit&amp;type_id={$type.type_id}">{$lang.edit}</a> |
		<a href="takegoods.php?act=add_goods&amp;type_id={$type.type_id}">{$lang.addgoods}</a> |
        <a href="javascript:;" onclick="listTable.remove({$type.type_id}, '{$lang.drop_confirm}')">{$lang.remove}</a></span></td>
    </tr>
      {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
      {/foreach}
    <tr>
      <td align="right" nowrap="true" colspan="8">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
</form>
<!-- end bonus_type list -->

<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
     // 开始检查订单
     startCheckOrder();
  }
  {/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}