@charset "gb2312";
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;}ol,ul{list-style:none;}:focus{outline:0;}a img{border:0;}img{vertical-align:middle;}table{empty-cells:show;}ins{text-decoration:none;}del{text-decoration:line-through;}h1{font-size:20px;font-family:Arial,Lucida,Verdana,"microsoft yahei","ו",Helvetica,sans-serif;}h2{font-size:14px;}h3{font-size:14px;}h4{font-size:12px;}h5{font-size:12px;}h6{font-size:12px;}.ftx01,.flk01 a:link,.flk01 a:visited,a.flk01:link,a.flk01:visited{color:#FCD410;}.ftx02,.flk02 a:link,.flk02 a:visited,a.flk02:link,a.flk02:visited{color:#F90;}.ftx03,.flk03 a:link,.flk03 a:visited,a.flk03:link,a.flk03:visited{color:#A0410A;}.ftx04,.flk04 a:link,.flk04 a:visited,a.flk04:link,a.flk04:visited{color:#F00;}.ftx05,.flk05 a:link,.flk05 a:visited,a.flk05:link,a.flk05:visited{color:#A40F00;}.ftx11,.flk11 a:link,.flk11 a:visited,a.flk11:link,a.flk11:visited{color:#B8D1EA;}.ftx12,.flk12 a:link,.flk12 a:visited,a.flk12:link,a.flk12:visited{color:#4589BF;}.ftx13,.flk13 a:link,.flk13 a:visited,a.flk13:link,a.flk13:visited{color:#005AA0;}.ftx14,.flk14 a:link,.flk14 a:visited,a.flk14:link,a.flk14:visited{color:#12A000;}.ftx21,.flk21 a:link,.flk21 a:visited,a.flk21:link,a.flk21:visited{color:#FFF;}.ftx22,.flk22 a:link,.flk22 a:visited,a.flk22:link,a.flk22:visited{color:#CCC;}.ftx23,.flk23 a:link,.flk23 a:visited,a.flk23:link,a.flk23:visited{color:#999;}.ftx24,.flk24 a:link,.flk24 a:visited,a.flk24:link,a.flk24:visited{color:#666;}.ftx25,.flk25 a:link,.flk25 a:visited,a.flk25:link,a.flk25:visited{color:#333;}.ftx26,.flk26 a:link,.flk26 a:visited,a.flk26:link,a.flk26:visited{color:#000;}
/*layout*/
body{margin:0 auto;}
body .fl{float:left;}body .fr{float:right;}body .fn{float:none;}
body .al{text-align:left;}body .ac{text-align:center;}body .ar{text-align:right;}
.clr{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}
/* Hides from IE-mac \*/
*html .clearfix {height:1%;}
.clearfix{display:block;}
/* End hide from IE-mac */
*+html .clearfix {min-height:1%;}
.overflow{overflow:hidden;}
.block{display:block;overflow:hidden;cursor:pointer;}
.hide{display:none;}
.invisible{visibility:hidden;}
/*form*/
.form label,.form input,.form select,.form textarea,.form button,.form .label{float:left;font-size:12px;}
.form .item{overflow:hidden;zoom:1;}
.btn-img{cursor:pointer;overflow:hidden;margin:0;padding:0;border:0;text-align:center;}
.btn-text{cursor:pointer;overflow:hidden;margin:0;padding:0;text-align:center;}
.btn-link{display:block;overflow:hidden;text-align:center;}
/*module*/
.m,.mt,.mc,.mb{overflow:hidden;zoom:1;}
.mt .extra{float:right;}
.m{margin-bottom:10px;}
.lh { overflow:hidden; zoom:1; }
.lh li, .lh dl, .lh .item { float:left; }
.ld { position:relative; zoom:1; }
.ld s, .ld b, .ld .block { position:absolute; overflow:hidden; }
/*tab*/
.tab{overflow:hidden;zoom:1;}
.tab li,.tab-item{float:left;text-align:center;}
/*text*/
body{font-family:Arial,"ו",Lucida,Verdana,Helvetica,sans-serif;font-size:12px;color:#333;line-height:150%;}
/*link*/
a:link,a:visited{color:#333;text-decoration:none;}
a:hover,a:active{color:#f00;text-decoration:underline;}
#shortcut, #shortcut .w, #shortcut .fl b, #shortcut .menu b {
	background-image:url(i/20111221C.png);
	background-repeat:no-repeat;
}
#shortcut li {
	background-image:url(i/20120112B.png);
	background-repeat:no-repeat;
}
#shortcut, #shortcut .w {
	height:30px;
	background-color:#efefef;
	background-repeat:repeat-x;
}
#shortcut {
	width:100%;
	padding-bottom:1px;
	line-height:30px;
}
#shortcut li {
	height:27px;
	padding:0 9px;
	background-position:-230px -320px;
}
#shortcut .fl .fore1 {
	padding-left:15px;
	background:none;
}
#shortcut .fl b {
	top:8px;
	left:1px;
	width:13px;
	height:12px;
	background-position:-56px -289px;
	cursor:pointer;
}
#shortcut .fl span {
	display:none;
}
#shortcut .fr {
	height:30px;
	overflow:visible;
}
#shortcut .fr .fore1 {
	background:none;
}
#shortcut .fr .menu {
	position:relative;
	z-index:10;
	width:81px;
	padding:3px 0 0;
}
#shortcut .menu dl {
	width:67px;
	padding:0 6px;
}
#shortcut .menu dt {
	height:24px;
	padding:0 10px 1px 6px;
	line-height:24px;
	cursor:default;
}
#shortcut .menu b {
	top:10px;
	right:3px;
	width:7px;
	height:4px;
	background-position:-35px -281px;
}
#shortcut .menu dd {
	display:none;
	padding:4px 0 4px 5px;
	line-height:21px;
}
#shortcut .fr .hover {
	z-index:11;
}
#shortcut .hover dl {
	border:1px solid #ddd;
	background:#fff;
	-moz-box-shadow:0 0 5px #ddd;
	-webkit-box-shadow:0 0 5px #ddd;
	box-shadow:0 0 5px #ddd;
}
#shortcut .hover dt {
	padding-left:5px;
	border-bottom:1px solid #F3F3F3;
	line-height:23px;
}
#shortcut .hover dd {
	display:block;
}
#shortcut .hover b {
	top:9px;
	background-position:-35px -275px;
}
#shortcut a.link-logout:link, #shortcut a.link-logout:visited {
	color:#999;
}
#loginbar a{margin-left:5px;}
#mycity{font-weight:bold;color:#005EA7;}
#quit{color:#999;}
/*#cityselector{display:none;position:absolute;top:26px;left:900px;z-index:11;width:400px;}
#cityselector .smc{background:#fff;}
#cityselector .item{width:374px;padding:6px 0;margin:0 12px;border-top:1px dotted #ccc;overflow:hidden;zoom:1;}
#cityselector .item a{float:left;margin-right:14px;white-space:nowrap;}
#cityselector .fore{border-top:none;}
#cityselector .smc .extra{padding:5px 12px;background:#f3f3f3;color:#f60;}
#cityselector .smc,
#cityselector .smc .extra{border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}*/
*html #shortcut .fl{height:27px;overflow:hidden;}
*html #shortcut .fl b{top:8px;}
*html #shortcut li.menu dl{position:absolute;}
#footer-2013 {
	PADDING-BOTTOM: 30px; TEXT-ALIGN: center
}
#footer-2013 .links A {
	MARGIN: 0px 10px
}
#footer-2013 .links SPAN {
	MARGIN: 0px 10px
}
#footer-2013 .links SPAN A {
	MARGIN: 0px
}
#footer-2013 .copyright {
	MARGIN: 10px 0px
}
#footer-2013 .authentication A {
	MARGIN: 0px 5px
}

/*logo*/
#logo{padding:10px 0;}
#shortcut .fl span{display:none}