/*regist*/
#regist .mt{height:33px;background:url(i/tit_regist.jpg) repeat-x 0 -34px;}
#regist .mt h2{float:left;height:33px;padding-left:15px;background:url(i/tit_regist.jpg) no-repeat 0 0;line-height:33px;}
#regist .mt span{float:right;height:33px;line-height:33px;text-align:right;}
#regist .mt b{float:right;width:10px;height:33px;background:url(i/tit_regist.jpg) no-repeat 0 -68px;}
#regist .mc{padding:15px 20px 20px;border:solid #D1D1D1;border-width:0 1px 1px; margin-bottom: 10px;}
#regist .tab{height:29px;overflow:visible;padding-left:300px;margin-bottom:25px;border-bottom:1px solid #FFCC66;}
#regist .tab li{width:102px;padding-top:3px;height:27px;font-size:14px;text-align:center;line-height:27px;color:#F79100;}
#regist .tab li.fore{width:170px;}
#regist .tab .curr{position:relative;background:url(i/bg_regist.jpg) no-repeat 0 -83px;font-weight:bold;z-index:10;color:#a0410a;}
#regist .tab .line{background:url(i/bg_shortcut_line.jpg) no-repeat right 7px;}
#regist .tab a:link,#regist .tab a:visited{display:block;overflow:hidden;width:74px;height:23px;margin:0 auto;line-height:23px;}
#regist .tab .fore a:link,#regist .tab .fore a:visited{width:168px;}
#regist .tab a:hover,#regist .tab a:active{background:url(i/bg_regist.jpg) no-repeat -167px 0;color:#fff;text-decoration:none;}
#regist .tab .fore a:hover,#regist .tab .fore a:active{background: none;color:#333333;}
*html #regist .tab{overflow:hidden;}
#regist .item{padding-top:5px;height:50px;line-height:26px;}
#regist .item a:link,#regist .item a:visited{text-decoration:underline;}
#regist .label{width:300px;text-align:right;font-size:14px;}
#regist .label b{font-family:"????";margin-right:5px;font-weight:normal;}
#regist .text{width:240px;border:1px solid #bbb;font-size:14px;}
#regist .text .text1{width:240px;}
#regist .text-1{width:100px;}
#regist .blank{width:16px;height:16px;margin:2px 5px 0;}
#regist .img img{height:26px;margin:0 5px;}
#regist .succeed{background:url(i/pwdstrength.gif) no-repeat -105px 0;}
#regist .btn-regist{width:169px;height:30px;background:url(i/new-regist.jpg) no-repeat 0 0;font-size:14px;font-weight:bold;color:#fff;}
#regist .highlight1{border:1px solid #EFA100;outline:2px solid #FFDC97;*border:2px solid #ffcc66;*padding:3px 2px;}
#regist .highlight2{border:1px solid #f00;outline:1px solid #FFC1C1;color:#f00;}
#regist .pwdbg{background:#FFF8EB;}
#regist .focus{color:#999;line-height:22px;*line-height:20px;}
#regist .null,#regist .error{color:red;line-height:22px;*line-height:20px;}
#regist .checkbox{margin-top:6px;*margin-top:2px;}
#regist #referrer{color:#999;font-size:12px;}
#pwdstrength{color:#999;line-height:22px;padding-right:10px;}
#pwdstrength b{float:left;width:104px;height:13px;overflow:hidden;margin-top:5px;*margin-top:3px;}
.strengthA b{background:url(i/pwdstrength.gif) no-repeat 0 0;}
.strengthB b{background:url(i/pwdstrength.gif) no-repeat 0 -13px;}
.strengthC b{background:url(i/pwdstrength.gif) no-repeat 0 -26px;}
#protocol-con{width:600px;height:80px;margin:0 auto;border:1px solid #ccc;padding:8px;overflow-y:scroll;color:#666;}
/*-moz-*/
@-moz-document url-prefix(){#regist .btn-regist{padding-bottom:5px;}}
@-moz-document url-prefix(){#regist .checkbox{margin-top:7px;}}
/*service*/
.service{overflow:hidden;zoom:1;margin-bottom:13px;padding:15px;background:#F7F7F7;}
.service li{float:left;overflow:hidden;height:14px;padding:0 17px;border-left:1px solid #ccc;background-image:url(i/bg20110922.png);background-repeat:no-repeat;font-size:0;line-height:100px;}
.service li.fore{border:none;}
.service .bl1{width:162px;background-position:17px 0;}
.service .bl2{width:187px;background-position:17px -15px;}
.service .bl3{width:162px;background-position:17px -30px;}
.service .bl4{width:254px;background-position:17px -45px;}
#protocol-con{
	padding:10px;
	border: 1px solid #CCCCCC;
    color: #666666;
    height: 80px;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 8px;
    width: 600px;
}
#protocol-con h4{padding-bottom:10px;font-size:14px;text-align:center;}
#protocol-con h5{padding:5px 0;text-indent:2em;}
#protocol-con p{text-indent:2em;}
#protocol-con em{font-style:italic;}
#protocol-con span{text-decoration:underline;}
#protocol-con strong{margin-right:5px;}
/*-moz-*/
@-moz-document url-prefix(){#regist .btn-regist{padding-bottom:5px;}}
@-moz-document url-prefix(){#regist .checkbox{margin-top:7px;}}
/**/
.form {
    position: relative;
}
.form .phone {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 220px;
}